In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("mental disorders.csv")

In [3]:
df.head()

   Entity  Year Code Mental Disorder  Prevalence
0  Brazil  2006  BRA         Anxiety       8.625
1  Brazil  2005  BRA         Anxiety       8.623
2  Brazil  2007  BRA         Anxiety       8.599
3  Brazil  2008  BRA         Anxiety       8.560
4  Brazil  2004  BRA         Anxiety       8.531

In [14]:
df['Prevalence'].unique()

array([8.625, 8.623, 8.599, ..., 0.047, 0.046, 0.045])